.review {
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid gray 2px;
    padding: 5px;
}

.review__post {
    padding-top: 5px;
    padding-bottom: 5px;
}

.review__Form {
    border: solid black 2px;
    padding: 10px 0px;
}